<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="CitywiseReportPath" value="./Assets/CityWiseReport.pdf"/>
        <add key="PollutantReportPath" value="./Assets/PollutantWiseReport.pdf"/>
        <add key="AirQualityDataPath" value="./Assets/AirQuality-India-Realtime.xlsx"/>
    </appSettings>
</configuration>
